body{
    background-color: #000;
    color: white;
    font-size: 20px;
}
p{
    color: #FFCC00;
}
h1{
    font-size: 70px;
    color:lightgreen ;
}

div{
    background: peru;
    width: 500px;
    
}
span{
    color: yellow;
    font-size: 40px;
}
.top-section{
    background: skyblue;
}
.bottom-section{
    background: green;
}
.intro{
    font-size: 30px;
}

/* the css box model*/

.box{
   background: pink;
   width: 300px;

   margin: 100px;
   border-color: red;
   border-style: solid;

}
img{
    width: 300px;
    padding-left: 100px;
    float: left;
    margin-left: 10px;
}